*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
    height: 5vh;
    position: sticky;
    top: 0px;
    font-family: "Poppins", sans-serif;

}

.searchbar {
    width: 100vw;
    height: 15vh;
    background-color: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;


}

.searchbar input {
    width: 100%;
    padding: 1rem 0rem;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;

  
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    height: 40%;
    width: 94%;
    padding: 0rem 1rem;
   
}

.search input{
    height: 40%;
    width: 44vw;
}

.search button {
    height: 4vh;
    width: 10vw;
    border: none;
    border-radius: 14px;
    background-color: #2a85ff;
    color: #fff;
    font-weight: 600;
}

.nav {
    background-color: rgb(255, 255, 255);
    min-width:19rem;
    height: 100%;
}

.container {
    width: 100vw;
    display: flex;
}

.cardcontainer {
    padding: 1rem;
    background-color:#E3FFF0;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.card {
    background-color: #fff;
    height: 23vh;
    width: 22vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;
    border: none;
    min-width: 18rem;
    font-family: "Poppins", sans-serif;
}


.cardmal {
    width: 100%;
    font-family: "Poppins", sans-serif;


}

.mall1 {
    display: flex;
    align-items: center;
   justify-content: center;
}

.mall1 h3 {
    font-size: 0.9rem;
    margin-left: 1.2rem;
    font-family: "Poppins", sans-serif;


}

.mall1 span {
    color: grey;
    font-size: 0.6rem;
    font-family: "Poppins", sans-serif;

}


.cardmal img {
    width:4vw;
    height: 5vh;
}

#picone{
    width: 2vw;
    height: 3vh;
    
}
.mall3  {

    font-size: 0.8rem;
    width: 85%;
    display: flex;
    align-items: center;
    font-family : "Poppins", sans-serif;



}

.line {
    width: 13vw;
    height: 0.15vh;
    border-radius: 10px;
    color: aqua;
    background-color: grey;
    font-family: "Poppins", sans-serif;


}

.mall2  button {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 0.6rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}


.FullTime {
    background-color: #E3FFF0;
    color: #18943C;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}

.FullTime1 {
    color:#935216;
    background-color:#FFEDE3;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", sans-serif;


}



.EntryLevel {
    background-color: #F1E3FF;
    color: #5F239A;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}



.mallpasa {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;


}



@media only screen and (max-width: 450px) {

    .nav {
       display: none;
    }

    
    .searchbar {
        width: 100vw;
        height: 20vh;
    
    }
    
    .searchbar input {
        width: 10vw;
    }

    .searchbar h1 {
        font-size: 1.8rem;
    }

    .search {
        width: 80vw;
        height: 4vh;
        margin-top: 0.7rem;
       
    }
    
    .search input{
        width: 40%;
    }
    
    .search button {
    
        height: 3vh;
        width: 12vw;
        
    }
    
    .search ::placeholder{
        font-size: 0.7rem;
        align-self: center;
    }

}

@media only screen and (max-width: 380px) {

    .nav {
       display:none ;
    }

    
    .searchbar {
        width: 100vw;
        height: 20vh;
    
    }
    
    .searchbar input {
        width: 10vw;
    }

    .searchbar h1 {
        font-size: 1.2rem;
        
    }

    .search {
        width: 80vw;
        height: 4vh;
        margin: 0.8rem 0rem;

       
    }
    
    .search input{
       
        width: 40%;
        padding: 0;
    }
    
    .search button {
        height: 2.8vh;
        width: 12vw;
        font-size: 0.6rem;
        
    }
    
    .search ::placeholder{
        font-size: 0.5rem;
    }

}