*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
    height: 5vh;
    min-width: 100vw;
    position: sticky;
    top: 0px;
    font-family: "Poppins", sans-serif;

}

.searchbar {
    height: 15vh;
    min-width:100vw;
    background-color: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;


}

.searchbar input {
    width: 100%;
    padding: 1rem 0rem;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;

  
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2%;
    background-color:#fff;
    border-radius: 15px;
    height: 40%;
    width: 94%;
   
}

.search button {
    position: absolute;
    align-self: center;
    right: 5%;
    padding: 0.2rem 0rem;
    height: 4vh;
    width: 8vw;
    border: none;
    border-radius: 15px;
    background-color: #2a85ff;
    color: #fff;
    font-weight: 600;
    

}






.nav {
    background-color: rgb(255, 255, 255);
    min-width:19rem;
    height: 100%;
    width: 24vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.cardcontainer {
    background-color:#022242;
    height: 100%;
    min-width: 74vw;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: #fff;
    height: 25%;
    width: 16vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;
    border: none;
    min-width: 18rem;
    font-family: "Poppins", sans-serif;
    margin: ;
}


.cardmal {
    width: 100%;
    font-family: "Poppins", sans-serif;


}

.mall1 {
    display: flex;
    align-items: center;
   justify-content: center;
}

.mall1 h3 {
    font-size: 0.9rem;
    margin-left: 1.2rem;
    font-family: "Poppins", sans-serif;


}

.mall1 span {
    color: grey;
    font-size: 0.6rem;
    font-family: "Poppins", sans-serif;

}


.cardmal img {
    width:4vw;
    height: 5vh;
}

#picone{
    width: 2vw;
    height: 3vh;
    
}
.mall3  {

    font-size: 0.8rem;
    width: 85%;
    display: flex;
    align-items: center;
    font-family : "Poppins", sans-serif;



}

.line {
    width: 13vw;
    height: 0.15vh;
    border-radius: 10px;
    color: aqua;
    background-color: grey;
    font-family: "Poppins", sans-serif;


}

.mall2  button {
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 0.6rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;



}

.FullTime {
    background-color: #E3FFF0;
    color: #18943C;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}

.FullTime1 {
    colour:#935216;
    background-color:#FFEDE3;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", sans-serif;


}



.EntryLevel {
    background-color: #F1E3FF;
    color: #5F239A;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}



.mallpasa {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;


}